body {
  background-color: #003b6d;
  color: #6699cc;
}
.navbar {
  background-color: #6699cc;
  color: #003b6d;
}
.navbar a {
  color: #003b6d;
}
.navbar a:hover {
  color: #bdbdbd;
}
.navbar .active {
  background-color: #003b6d;
  color: #6699cc;
}
.navbar .active:hover {
  background-color: #6699cc;
  color: #003b6d;
}

.footer {
  background-color: #676767;
  color: #bdbdbd;
}

#searchButton {
  background-color: white;
  color: black;
}

.img-fluid {
  display: block;
  margin: 0 auto;
}

#logo {
  height: 50px;
  width: 50px;
}
